// COLORS
$primary-color: #eb6f92;
$secondary-color: #ebbcba;

$white-color: #fff;


// Rosepine Theme color

$base-color: #191724;
$surface-color: #1f1d2e;
$overlay-color: #26233a;
$muted-color: #6e6a86;
$subtle-color: #908caa;
$text-color: #e0def4;

$pink-color: #eb6f92;
$gold-color: #f6c177;
$rose-color: #ebbcba;
$pine-color: #31748f;
$foam-color: #9ccfd8;
$iris-color: #c4a7e7;

$light-low-color: #21202e;
$light-med-color: #403d52;
$light-hight-color: #524f67;



$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
